<%= @image.description %> <br>
<%= link_to 'Editar', edit_image_path(image) %><br>

<%= link_to 'Eliminar', image, method: :delete, data:{ 
    confirm: 'Esta seguro? seguro? segurisimo? de eliminar esta imagen.'  }% >

<div class="col">
    <figure class="figure">
        <img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" 		 class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">
            <%= image.description %> 
            <%= link_to 'Editar', edit_image_path(image) %>
            <%= link_to 'Eliminar', image, method: :delete, data:{ 
                    confirm: 'Esta seguro que decea eliminar esta imagen.'
                } %>        
        </figcaption> 
    </figure>
</div>
